aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appnope
asttokens
async-timeout
attrs
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
comm
confection
cymem
dataclasses-json
debugpy
decorator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
exceptiongroup
executing
frozenlist
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
ipykernel
ipython
jedi
jericho
Jinja2
jsonpatch
jsonpointer
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
multidict
murmurhash
mypy_extensions
nest-asyncio
numpy
ollama
orjson
packaging
parso
pexpect
platformdirs
preshed
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pydantic
pydantic-settings
pydantic_core
Pygments
python-dateutil
python-dotenv
PyYAML
pyzmq
requests
requests-toolbelt
rich
shellingham
six
smart_open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
tenacity
termcolor
thinc
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
urllib3
wasabi
wcwidth
weasel
wrapt
yarl
zipp
zstandard
